.content_table {
    font-family: Geneva, Verdana, sans-serif;
    /*background-color: #e0d9d0;*/
    font-weight: bold;
}

h1{
    padding-top: 5%;
    justify-content: left;
    width:100% ;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 100px;
    border-bottom: 4px solid #e46c74;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
}

h3{
    justify-content: center;
    text-align: center;
    width:100% ;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 15px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
}

#schedule-table {
    margin: 20px;
    border-collapse: collapse;
    width: 95%;
}

#schedule-table td,
#schedule-table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
#schedule-table th{
    background-color: #e46c74;
}

.content_table p   {
    padding-left: 30px;
    margin-left: 30px;
    font-weight: bolder;

}

.Personal-Perofile-link {
    padding-left: 30px;
    margin-left: 30px;
    font-weight: bolder;

}
