.content_table {
  font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #e0d9d0;
}

h1{
    padding-top: 5%;
    justify-content: left;
    width:100% ;
    font-weight: bolder;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 100px;
    border-bottom: 4px solid #e46c74;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;

}

h4{
    justify-content: center;
    text-align: center;
    width:100% ;
    font-weight: 200;
    font-size: 1.7em;
    text-transform: UPPERCASE;
    margin-bottom: 10px;
    margin-top: 15px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bolder;
}

#schedule-table {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;

}

#schedule-table td,
#schedule-table th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;font-weight: bolder;

}
#schedule-table th{
     background-color: #e46c74;
}


/**** Footer  BAR ****/
.fixed-bottom{
        background-color: #5e5551;
        height: 5%;
        align-items: center;
        background-size: cover;
        z-index: 0 !important;
        position: relative !important;
        margin-top: 20%;
    }
    .column {
        float: left;
        width: 33.33% !important;
        height:100%  ;
        padding: 10px;
        align-items: center;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

.column h4{
    color: white;
    font-size: 18px;
    text-align: center;
}
.column p{
    color: white;
    font-size: 14px;
    text-align: center;
}
.map{
    align-items: center;
    text-align: center;
}
.map img{
    height:100%  ;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    color: white;

}

p {
    padding-left: 30px;
    margin-left: 30px;
}

.Personal-Perofile-link {
       padding-left: 30px;
    margin-left: 30px;
}